<?xml version="1.0"?>
<launch>

  <!-- rosrun object_recognition_core detection -c `rospack find object_recognition_tabletop`/conf/detection.table.ros.ork -->
  <node name="find_table" pkg="object_recognition_core" type="detection" output="screen"
        args="-c $(find object_recognition_tabletop)/conf/detection.table.ros.ork">
    <remap from="/camera/depth_registered/camera_info" to="/depth_cam/depth_info" />
    <remap from="/camera/depth_registered/image_raw" to="/depth_cam/depth_image" />
    <remap from="/camera/rgb/camera_info" to="/depth_cam/camera_info" />
    <remap from="/camera/rgb/image_color" to="/depth_cam/image_raw" />
  </node>

</launch>

